body {
    margin: 0px;
    padding: 0px;
    font-family: Poppins;
    overflow-x: hidden;
    background-color: #121212;
}

html {
    scroll-behavior: smooth;
}

.container {
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: transparent;
    z-index: 1;
}

.container.scroll {
    background-color: black;
    z-index: 1;
}

.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: 0.6s;
}

a:hover {
    color: #b3b3b3;
    transition: 0.6s
}

p {
    color: white;
    font-size: 18px;
}

.circle {
    background-color: black;
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

.circle img {
    border-radius: 50%;
}

.user {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.geral {
    display: flex;
    justify-content: center;
}

.quadrado {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 1000px;
    height: auto;
    background-color: #141414;
    color: white;
    border-radius: 20px;
}