body {
    margin: 0px;
    padding: 0px;
    font-family: Poppins;
    overflow-x: hidden;
    background-color: black;
}

html {
    scroll-behavior: smooth;
}

.container {
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: transparent;
    z-index: 1;
}

.container.scroll {
    background-color: black;
    z-index: 1;
}

.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: 0.6s;
}

a:hover {
    color: #b3b3b3;
    transition: 0.6s
}

p {
    color: white;
    font-size: 18px;
}

.circle {
    background-color: black;
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

.circle img {
    border-radius: 50%;
}

.user {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.video {
    width: 100%;
    height: 1100px;
}

.video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;    
}

.cars {
    display: flex;
    width: 100%;
    height: 350px; 
    background-color: black;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.img1 {
    height: 300px;
    width: 400px;
    border-radius: 30px;
}

.img2 {
    height: 300px;
    width: 400px;
    border-radius: 30px;
}

.img3 {
    height: 300px;
    width: 400px;
    border-radius: 30px;
}

#carro1, #carro2, #carro3 {
    border-radius: 30px;
    border: transparent;
    cursor: pointer;
    transition: 1s;
}

#carro1:hover, #carro2:hover, #carro3:hover {
    transform: scale(1.05, 1.05);
    border: 1px solid white;
}

.modificar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 950px;
    background-color: black;
}

.carro-modificar {
    width: 700px;
    height: 550px;
    margin-left: 150px;
    border-radius: 30px;
    margin-top: 40px;
}

label {
    margin-left: 170px;
    font-size: 40px;
    font-weight: 500;
    color: white;
}

#carro-selecionado {
    width: 700px;
    height: 550px;
    border-radius: 30px;
}

.box-personalizar {
    display: flex;
    flex-direction: column;
    margin-bottom: 220px;
    margin-top: 315px;
}

.botoes-modelos {
    display: flex;
    justify-content: flex-end;
    margin-left: 200px;
    flex-direction: row;
    gap: 16px;
}

h1 {
    color: white;
    margin-left: 200px;
    font-weight: 500;
}

button {
    height: 60px;
    width: 220px;
    border: transparent;
    border-radius: 20px;
    font-size: 18px;
    transition: 0.6s;
    cursor: pointer;
    background-color: #1a1a1a;
    color: white;
}

button:hover {
    background-color: black;
    transform: scale(1.05, 1.05);
    transition: 0.6s;
    color: white;
}

.botoes-pinturas {
    display: flex;
    margin-left: 200px;
    gap: 16px;
    flex-direction: row;
}

.botoes-motor {
    display: flex;
    margin-left: 200px;
    gap: 37px;
    margin-top: 10px;
}

.motor1, .motor2, .motor3 {
    background-color: #1a1a1a;
    height: 200px;
    width: 200px;
    border-radius: 20px;
    transition: 0.6s;
}

.motor1:hover, .motor2:hover, .motor3:hover {
    transform: scale(1.05, 1.05);
    transition: 0.6s;
    cursor: pointer;
    background-color: black;
    border: 1px solid white;
}

#comprar {
    width: 680px;
    margin-left: 200px;
    margin-top: 20px;
    background-color: #e9b530;
}

#comprar:hover {
    width: 680px;
    margin-left: 200px;
    background-color: black;
    color: white;
}


.botoes-modelos button:active {
    background-color: black;
    color: white;
}

.concept-car {
    position: absolute;
    margin-top: 270px;
    font-size: 35px;
    z-index: 2;
}

.concept-car button {
    margin-left: 200px;
    background-color: yellow;
    color: black;
    transition: 0.6s;
    height: 80px;
    width: 250px;
    border-radius: 30px;
}

.concept-car button:hover {
    background-color: black;
    transform: scale(1.05, 1.05);
    transition: 0.6s;
    color: white;
}

#jesko {
    margin-top: -50px;
    padding: 0;
}

#motor1, #motor2, #motor3 {
    border-radius: 20px;
}

.sobre-nos {
    display: flex;
    justify-content: center;
    background-color: #141414;
    padding-right: 230px;
}

.sobre-nos-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 1900px;
    background-color: #141414;
}

i {
    color: white;
}

.icones {
    display: flex;
    justify-content: center;
    background-color: #141414;
}

#icone-instagram, #icone-x, #icone-tiktok, #icone-instagram {
    font-size: 40px;
}

#a-saibaMais {
    color: black;
}

#a-saibaMais:hover {
    color: white;
}