body {
    margin: 0px;
    padding: 0px;
    font-family: Poppins;
    overflow-x: hidden;
    background-color: black;
}

html {
    scroll-behavior: smooth;
}

.container {
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: transparent;
    z-index: 1;
}

.container.scroll {
    background-color: black;
    z-index: 1;
}

.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: 0.6s;
}

a:hover {
    color: #b3b3b3;
    transition: 0.6s
}

p {
    color: white;
    font-size: 18px;
}

.circle {
    background-color: black;
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

.circle img {
    border-radius: 50%;
}

.user {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.carro1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 800px;
    background-color: #141414;
    color: white;
    margin-left: 110px;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 35px;
    text-align: center;
    padding: 10px;
}

.carro1:hover, .carro2:hover, .carro3:hover {
    transform: scale(1.03, 1.03);
    transition: 1s;
}

.carro2, .carro3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 800px;
    background-color: #141414;
    color: white;
    border-radius: 20px;
    cursor: pointer; 
    padding-top: 35px;
    padding: 10px;
    text-align: center;
}

.main {
    display: flex;
    gap: 100px;
}

.imagem {
    width: 400px;
    height: 350px;
    background-color: black;
    border: none;
    border-radius: 20px;
}

.imagem:hover {
    cursor: pointer;
    transform: scale(1.02, 1.02);
    transition: .5s;
}

img {
    border-radius: 20px;
}

button {
    background-color: #E9B530;
    width: 200px;
    height: 70px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: black;
    transform: scale(1.05, 1.05);
    transition: 1s;
}

button a {
    color: black;
}

button a:hover {
    color: white;
}