body {
    margin: 0px;
    padding: 0px;
    font-family: Poppins;
    overflow-x: hidden;
    background-color: #121212;
    overflow-y: scroll;
    height: 110vh;
}

html {
    scroll-behavior: smooth;
}

.container {
    width: 100%;
    height: 100px;
    background-color: transparent;
    z-index: 1;
	background-color: black;
}

.direita{
    display: flex;
    flex-direction: column;
	color: white;
    font-weight: 500;
    margin-left: 250px;
}

.descer{
	height: 520px;
}

label {
    font-size: 20px;
    font-weight: 350;
    color: white;
	font-family: 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
}

input{
    width: 45%;
    padding: 10px 14px;
    border: 1px solid #5a5a5a;;
    border-radius: 8px;
    background-color: var(--gray-light);
	color: white;
    margin-top: 10px;
    font-size: 20px;
}

textarea {
    height: 100px;
	border: 1px solid #5a5a5a;
    border-radius: 8px;
	width: 47%;
	background-color: var(--gray-light);
    color: white;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 100;
}

.assuntos{
    width: 47%;
    padding: 10px 14px;
    border: 1px solid #5a5a5a;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: var(--gray-light);
    margin-top: 10px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.container.scroll {
    background-color: black;
    z-index: 1;
}

.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

a {
	color: white;
    text-decoration: none;
    font-size: 18px;
    transition: 0.6s;
}

a:hover {
    color: grey;
    transition: 0.6s
}

p {
    color: white;
    font-size: 18px;
}


.user {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


button {
    height: 60px;
    width: 220px;
    border: transparent;
    border-radius: 20px;
    font-size: 18px;
    transition: 0.6s;
    cursor: pointer;
    background-color: #1a1a1a;
    color: white;
}

button:hover {
    background-color: black;
    transform: scale(1.05, 1.05);
    transition: 0.6s;
    color: white;
}

.assuntos option {
    background-color: #1a1a1a;
    color: white;
    cursor: pointer;
}


.quadrado3 {
    display: flex;
	justify-content: center;
    flex-direction: column;
    background-color: #191919;
    height: auto;
    width: 1450px;
    border-radius: 20px;
}

.quadrado4 {
    display: flex;
	justify-content: center;
    flex-direction: column;
    background-color: #191919;
    height: auto;
    width: 1450px;
    border-radius: 20px;
}

.quadrado3:hover, .quadrado4:hover {
    transform: scale(1.01, 1.01);
    transition: 1s;
    cursor: pointer;
}