body {
    margin: 0;
    padding: 0;
    font-family: Poppins;
    overflow-x: hidden;
    background-color: black;
    color: white;
}

html {
    scroll-behavior: smooth;
}

.container {
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: black;
    z-index: 1;
}

.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: 0.6s;
}

a:hover {
    color: #b3b3b3;
    transition: 0.6s;
}

.circle {
    background-color: black;
    height: 32px;
    width: 32px;
    border-radius: 50%;
}
.circle img {
    border-radius: 50%;
}
.user {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.funcoes {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 30px; 
    gap: 40px;
}

.quadrado-principal {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 500px;
    width: 800px;
    background-color: #141414;
    border-radius: 20px;
    padding: 20px;
}

.quadrado-principal .botoes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

button {
    height: 60px;
    width: 220px;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    transition: 0.4s;
    cursor: pointer;
    background-color: #1a1a1a;
    color: white;
}

button:hover {
    background-color: black;
    transform: scale(1.05);
}

#motor1, #motor2, #motor3 {
    height: 200px;
    width: 200px;
    border-radius: 20px;
    transition: 0.6s;
}

#motor1:hover, #motor2:hover, #motor3:hover {
    border: 1px solid white;
}

.botao-motor {
    height: 200px;
    width: 200px;
    border-radius: 20px;
    background-color: rgb(17, 17, 17);
}

.botao-motor:hover {
    background-color: rgb(17, 17, 17);
}

.info-carro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #1a1a1a;
    border-radius: 20px;
    padding: 20px;
    width: 300px;
    height: 500px;
}

#botao-comprar {
    background-color: #e9b530;
}

#botao-comprar:hover {
    background-color: black;
    color: white;
    transition: 1s;
}